.home {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  
  .headerContainer {
    width: auto;
    height: 100%;
    margin: 5% 30% 6% 10%;
    padding: 3% 5% 4% 5%;
    width:550px;
    height: 400px;
    background-color: rgb(0, 0, 0,0.6);
    border-radius: 20px;
    border: 3px solid rgba(255, 255, 255, 0.9) ;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.1);;
  }
  
  .headerContainer h1 {
    justify-content: center;
    align-items: center;
    font-size: 70px;
    height: 80px;
    width: 500px;
    font-weight: 50;
    color: rgb(255, 255, 255);
  }
  
  .headerContainer p {
    padding: 0;
    font-size: 30px;
    font-weight: lighter;
    color: rgb(255, 255, 255);
  }
  
  .headerContainer button {
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    justify-content: center;
    background-color: #001322;
    height: 50px;
    width: 180px;
    color: white;
    text-decoration: none;
    font-size: 20px;
  }
  
  .headerContainer button:hover {
    background-color: #ffffff;
    color: rgb(0, 14, 56);
    cursor: pointer;
    transition: 0.3s ease-in;
  }
  
  @media only screen and (max-width: 480px) {
    .home {
      width: 100%;
      justify-content: center;
      align-items: center;
      height:550px;
    }  
    .headerContainer {
      margin-left: 25%;
      border-radius: 10px;
      padding: 10px;
      width: 80%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      background-color: #121619;
      color: white;
    }
  
    .headerContainer h1 {
      font-size: 40px;
      height: 30px;
      color: white;
      text-align: center;
    }
  
    .headerContainer p {
      font-size: 20px;
      color: white;
    }
  
    .headerContainer button {
      background-color: rgb(0, 6, 33);
      color: #ffffff;
      margin-bottom: 30px;
      box-shadow: 2px 2px 2px 2px rgb(255, 255, 255,0.5);
    }
  
    .headerContainer button:hover {
      background-color: rgb(225, 225, 225);
      color: #001626;
    }
}